<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!--
    Copyright 2015 Tawi Commercial Services Ltd

    Licensed under the Open Software License, Version 3.0 (the “License”); you may
    not use this file except in compliance with the License. You may obtain a copy
    of the License at:
    http://opensource.org/licenses/OSL-3.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an “AS IS” BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.

    See the License for the specific language governing permissions and
    limitations under the License.
-->

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>  -->
        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
        <property name="hibernate.connection.username">babblesms</property>
        <property name="hibernate.connection.password">pass</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/babblesmsdb</property>

        <property name="connection_pool_size">2</property>
        <property name="statement_cache.size">2</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <property name="use_outer_join">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <!-- <property name="hbm2ddl.auto">create</property> -->

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>


        <!-- Add 2nd Level Cache including query caching -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
	<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
	<property name="hibernate.cache.use_query_cache">true</property>
	<property name="org.ehcache.configurationResourceName">/ehcache.xml</property>


	<!-- Mapped classes -->
        <mapping class="ke.co.tawi.babblesms.server.beans.account.Status" />
        <mapping class="ke.co.tawi.babblesms.server.beans.account.Account" />

        <mapping class="ke.co.tawi.babblesms.server.beans.geolocation.Country" />

        <mapping class="ke.co.tawi.babblesms.server.beans.network.Network" />

        <mapping class="ke.co.tawi.babblesms.server.beans.contact.Contact" />
        <mapping class="ke.co.tawi.babblesms.server.beans.contact.Phone" />
        <mapping class="ke.co.tawi.babblesms.server.beans.contact.Email" />

    </session-factory>
</hibernate-configuration>
