@import url(http://fonts.googleapis.com/css?family=Fauna+One|Muli);
#mainform{
    width:960px;
    margin:20px auto;
    padding-top:20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display:block;
}
h2{
    margin-left: 65px;
    text-shadow:1px 0px 3px gray;
}    
h3{
    font-size:18px;
    text-align:center;
    text-shadow:1px 0px 3px gray;
}
.onclick{
   padding:3px;
   color:green;
   cursor:pointer;
   padding:5px 5px 5px 15px;
   width:70px;
   color:white;
   background-color:#123456;
   box-shadow:1px 1px 5px grey;
   border-radius:3px;
}
b{
    font-size:18px;
    text-shadow:1px 0px 3px gray;
}
#popup{
    padding-top:80px;
}
.form{
    border-radius:2px;
    padding:20px 30px;
    box-shadow:0 0 15px;
    font-size:14px;
    font-weight:bold;
    width:350px;
    margin:20px 250px 0 35px;
    float:left;
}






#contactdiv{ 
    opacity:0.92; 
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
    z-index:2000;
    margin-top:5%;
}

#contactdivv{
   position:absolute;
   width:100%;
   height:50%;
   margin-top:10%;
    }
#logindiv{
    opacity:0.92; 
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

#login,#contact{   
    width:50%;
    margin:0px;
    background-color:white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    border: 5px solid rgb(90, 158, 181);
}
.img{
    float: right;
    margin-top: -35px;
    margin-right: -37px;
}
#contact{
    max-width:700px;
    max-height:500px;
    overflow: auto;
    left: 40%;
    top: 40%;
    margin-left:-210px;
    margin-top:-255px;
}
#login{
    left: 50%;
    top: 50%;
    margin-left:-210px;
    margin-top:-158px;
}
//---------------------Right side advertizement's css-----------------------
#formget{
    float:right;
}
