/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2014, 11:07:34 AM
    Author     : josephk
*/

/* top menu */

.topmenu{
    margin-left: 20%;
}

.topmenu a{
    color:#fff;
    background:black;
    padding:5px 45px ;
    text-decoration: none;
    height: 46px;
    font-size: 16px;
    display:inline;
    border-right: 1px solid #505050;
    margin 0;

      
}

.topmenu a:hover,.topmenu a:active{
    background:#cc0000;
}

/* help */
.help{
    color:#FFF;
    padding-left:15px;
}

.help a:hover{
    color:#eee;
    text-decoration:none;
}

/* error message */
.error{
    color:red;
}

/* success message */
.success{
    color:green;
}